services:
  mongodb:
    image: mongo:7.0
    container_name: closer-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  cerbos:
    image: ghcr.io/cerbos/cerbos:0.50.0
    container_name: attesta-cerbos
    restart: unless-stopped
    command: ["server", "--config=/config/config.yaml"]
    ports:
      - "3592:3592"
    volumes:
      - ./cerbos/policies:/policies
      - ./cerbos/config:/config

  mongo-express:
    image: mongo-express:1.0.2
    container_name: closer-mongo-express
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://mongodb:27017
    ports:
      - "8081:8081"
    depends_on:
      - mongodb

volumes:
  mongodb_data:
    driver: local
