@media (--md-down) {
  .page {
    padding: var(--space-4) var(--space-4) 32px;
  }

  .page:has(.breadcrumbs) {
    padding-top: var(--space-2);
  }

  .topbar {
    padding: var(--space-3) var(--space-4);
  }

  .layout-stack-separator {
    border-top: 1px solid var(--border);
    padding-top: var(--space-12);
  }
}
