{{ define "role-palette-options" }}
  <option
    value="red"
    data-role-color="var(--role-red)"
    {{ if eq . "red" }}selected{{ end }}
  >
    Red
  </option>
  <option
    value="orange"
    data-role-color="var(--role-orange)"
    {{ if eq . "orange" }}selected{{ end }}
  >
    Orange
  </option>
  <option
    value="amber"
    data-role-color="var(--role-amber)"
    {{ if eq . "amber" }}selected{{ end }}
  >
    Amber
  </option>
  <option
    value="yellow"
    data-role-color="var(--role-yellow)"
    {{ if eq . "yellow" }}selected{{ end }}
  >
    Yellow
  </option>
  <option
    value="lime"
    data-role-color="var(--role-lime)"
    {{ if eq . "lime" }}selected{{ end }}
  >
    Lime
  </option>
  <option
    value="green"
    data-role-color="var(--role-green)"
    {{ if eq . "green" }}selected{{ end }}
  >
    Green
  </option>
  <option
    value="emerald"
    data-role-color="var(--role-emerald)"
    {{ if eq . "emerald" }}selected{{ end }}
  >
    Emerald
  </option>
  <option
    value="teal"
    data-role-color="var(--role-teal)"
    {{ if eq . "teal" }}selected{{ end }}
  >
    Teal
  </option>
  <option
    value="cyan"
    data-role-color="var(--role-cyan)"
    {{ if eq . "cyan" }}selected{{ end }}
  >
    Cyan
  </option>
  <option
    value="sky"
    data-role-color="var(--role-sky)"
    {{ if eq . "sky" }}selected{{ end }}
  >
    Sky
  </option>
  <option
    value="blue"
    data-role-color="var(--role-blue)"
    {{ if eq . "blue" }}selected{{ end }}
  >
    Blue
  </option>
  <option
    value="indigo"
    data-role-color="var(--role-indigo)"
    {{ if eq . "indigo" }}selected{{ end }}
  >
    Indigo
  </option>
  <option
    value="violet"
    data-role-color="var(--role-violet)"
    {{ if eq . "violet" }}selected{{ end }}
  >
    Violet
  </option>
  <option
    value="purple"
    data-role-color="var(--role-purple)"
    {{ if eq . "purple" }}selected{{ end }}
  >
    Purple
  </option>
  <option
    value="fuchsia"
    data-role-color="var(--role-fuchsia)"
    {{ if eq . "fuchsia" }}selected{{ end }}
  >
    Fuchsia
  </option>
  <option
    value="pink"
    data-role-color="var(--role-pink)"
    {{ if eq . "pink" }}selected{{ end }}
  >
    Pink
  </option>
  <option
    value="rose"
    data-role-color="var(--role-rose)"
    {{ if eq . "rose" }}selected{{ end }}
  >
    Rose
  </option>
{{ end }}
