{{ define "role-palette-options" }}
  <option
    value="red"
    data-role-color="var(--role-red-bg)"
    {{ if eq . "red" }}selected{{ end }}
  >
    Red
  </option>
  <option
    value="orange"
    data-role-color="var(--role-orange-bg)"
    {{ if eq . "orange" }}selected{{ end }}
  >
    Orange
  </option>
  <option
    value="amber"
    data-role-color="var(--role-amber-bg)"
    {{ if eq . "amber" }}selected{{ end }}
  >
    Amber
  </option>
  <option
    value="yellow"
    data-role-color="var(--role-yellow-bg)"
    {{ if eq . "yellow" }}selected{{ end }}
  >
    Yellow
  </option>
  <option
    value="lime"
    data-role-color="var(--role-lime-bg)"
    {{ if eq . "lime" }}selected{{ end }}
  >
    Lime
  </option>
  <option
    value="green"
    data-role-color="var(--role-green-bg)"
    {{ if eq . "green" }}selected{{ end }}
  >
    Green
  </option>
  <option
    value="emerald"
    data-role-color="var(--role-emerald-bg)"
    {{ if eq . "emerald" }}selected{{ end }}
  >
    Emerald
  </option>
  <option
    value="teal"
    data-role-color="var(--role-teal-bg)"
    {{ if eq . "teal" }}selected{{ end }}
  >
    Teal
  </option>
  <option
    value="cyan"
    data-role-color="var(--role-cyan-bg)"
    {{ if eq . "cyan" }}selected{{ end }}
  >
    Cyan
  </option>
  <option
    value="sky"
    data-role-color="var(--role-sky-bg)"
    {{ if eq . "sky" }}selected{{ end }}
  >
    Sky
  </option>
  <option
    value="blue"
    data-role-color="var(--role-blue-bg)"
    {{ if eq . "blue" }}selected{{ end }}
  >
    Blue
  </option>
  <option
    value="indigo"
    data-role-color="var(--role-indigo-bg)"
    {{ if eq . "indigo" }}selected{{ end }}
  >
    Indigo
  </option>
  <option
    value="violet"
    data-role-color="var(--role-violet-bg)"
    {{ if eq . "violet" }}selected{{ end }}
  >
    Violet
  </option>
  <option
    value="purple"
    data-role-color="var(--role-purple-bg)"
    {{ if eq . "purple" }}selected{{ end }}
  >
    Purple
  </option>
  <option
    value="fuchsia"
    data-role-color="var(--role-fuchsia-bg)"
    {{ if eq . "fuchsia" }}selected{{ end }}
  >
    Fuchsia
  </option>
  <option
    value="pink"
    data-role-color="var(--role-pink-bg)"
    {{ if eq . "pink" }}selected{{ end }}
  >
    Pink
  </option>
  <option
    value="rose"
    data-role-color="var(--role-rose-bg)"
    {{ if eq . "rose" }}selected{{ end }}
  >
    Rose
  </option>
{{ end }}
