services:
  mongodb:
    image: mongo:7.0

  cerbos:
    build:
      context: .
      dockerfile: deployment/Dockerfile.cerbos
    restart: unless-stopped
    command: ["server", "--config=/config/config.yaml"]

  attesta:
    build:
      context: .
      dockerfile: deployment/Dockerfile.coolify
    environment:
      MONGODB_URI: mongodb://${SERVICE_NAME_MONGODB}:27017
      CERBOS_URL: http://${SERVICE_NAME_CERBOS}:3592
      SERVICE_FQDN_ATTESTA_3000:
    depends_on:
      - mongodb
      - cerbos

  mongoexpress:
    image: mongo-express:1.0.2
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://${SERVICE_NAME_MONGODB}:27017
      SERVICE_FQDN_MONGOEXPRESS_8081:
    depends_on:
      - mongodb
